/* This is the style sheet for the site as a whole */

/*this is where fonts go*/
@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');



/* colors go under here */
:root{
    --discord:#424549;
    --white:white;

    --cobalt-text:#0047AB;
    --char-text: #7fff00;
    --crimson-text:#dc143c;
    --mint-text:#fa3737;

    --cinder-text:#0e0e18;

    --cobalt-bg:#90beff;
    --char-bg:#274e13;
    --crimson-bg: #990000;
    --cinder-bg:#232323;
}

/* unique shit */
.ass-text{
    color: white;
    font-family: 'Brawler';
}

.cpuk-text{
    color: white;
    font-family: 'Nunito';
    text-align: right;
}

.prism-power{
    background-color: white;
    font-family: 'Varela Round';
    font-style: italic;
    display: inline;
}

.cobalt-power{
    color: var(--cobalt-text);
    background-color: var(--cobalt-bg);
    font-family: 'Teko';
    font-size: 30px;
    font-style: italic;
    display: inline-flex;
    font-variant: small-caps;
}

.char-power{
    color: var(--char-text);
    background-color: var(--char-bg);
    font-family: 'Fredericka the Great';
    font-style: italic;
    display: inline;
}

.mint-power{
    color: var(--mint-text);
    background-color: var(--char-bg);
    font-family: 'Cabin Sketch';
    font-style: italic;
    font-weight: 500;
    display: inline;
}

.cinder-power{
    color:var(--cinder-text);
    background-color: var(--cinder-bg);
    font-family: 'Calligraffitti';
    font-style: italic;
    display: inline;
	text-shadow: -1px 1px 2px white,
				  1px 1px 2px white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
}