/* This is the style sheet for the site as a whole */

/*this is where fonts go*/
@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap');



/* colors go under here */
:root{
    --background:#424549;
    --white:white;

    --cobalt-text:#0047AB;
    --char-text: #7fff00;
    --crimson-text:#dc143c;
    --mint-text:#fa3737;

    --cinder-text:#0e0e18;

    --cobalt-bg:#65a5ff;
    --char-bg:#274e13;
    --crimson-bg: #420000;
    --cinder-bg:#232323;
}


/*backgrounds*/
.discord{
    background-color: var(--background);
    overflow: hidden;
    padding-top: 30pt;
    padding-bottom: 10pt;
}


/* unique shit */
.ass-text{
    color: white;
    font-family: 'Brawler';
}

.ass-status{
    color: white;
    font-family: 'Brawler';
    font-style: italic;
    line-height: 1.5;
}

.cpuk-text{
    color: white;
    font-family: 'Nunito';
    text-align: right;
}

.cpuk-status{
    color: white;
    font-family: 'Nunito';
    font-style: italic;
    line-height: 1.5;
    text-align: right;
}

.prism-power{
    font-family: 'Varela Round';
    font-style: italic;
    font-weight: bold;
    display: inline;
    font-size: large;
    background: linear-gradient(to right, #ff0501, #ff5500, #ffea00, #0dff00, #0073ff, #5900ff, #d400ff, #ff0095, #ff3c00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.743);
}

.cobalt-power{
    color: var(--cobalt-text);
    background-color: var(--cobalt-bg);
    font-family: 'Fondamento';
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    display: inline;
}

.char-power{
    color: var(--char-text);
    background-color: var(--char-bg);
    font-family: 'Fredericka the Great';
    font-style: italic;
    display: inline;
    font-size: large;
}

.crimson-power{
    color: var(--crimson-text);
    background-color: var(--crimson-bg);
    font-family: 'Permanent Marker';
    font-style: italic;
    display: inline;
    font-size: large;
}

.mint-power{
    color: var(--mint-text);
    background-color: var(--char-bg);
    font-family: 'Cabin Sketch';
    font-style: italic;
    font-weight: 900;
    display: inline;
    font-size: 18.5px;
}

.cinder-power{
    color:var(--cinder-text);
    background-color: var(--cinder-bg);
    font-family: 'Kings';
    font-style: italic;
    font-size: 21px;
    display: inline;
	text-shadow: -1px 1px 2px white,
				  1px 1px 2px white,
				  1px -1px 0 white,
				  -1px -1px 0 white;
}